.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 70vw;
    height: 80vh;
    top: 8vh;
    left: 10vw;
    font-family: 'Tommy';
    font-size: 20px;
    padding: 30px 50px 50px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    &.blowIn {
      animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      &.out {
        animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
  }

@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}
  .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
  }
  .close-modal:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  .title-wrapper {
    height: 10%;
  }
  .title {
    align-items: center;
    width: 100%;
    font-size: 50px;
    font-family: 'jungleRoar';
  }
  .logo {
    height: 50px;
  }
  .subtitle {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pictures {
    height: 300px;
  }
  .pdf {
    max-width: 3em;
  }
  .description {
    max-height: 30%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
  }
  .description::-webkit-scrollbar {
    display: none;
  }
  .links {
    max-height: 10%;
  }
  .technos {
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    justify-content: space-around;
  }
  .tech {
    font-size: 4rem;
  }
  .nopic {
    padding-top: 20%;
  }